img {
  max-width: 50px;
  height: auto;
}

label {
  width: 42%;
  display: inline-block;
  text-align: right;
}

div {
  border: 1px solid grey;
  padding: 10px;
}

p {
  margin: 5px;
}


header {
  width: 600px;
  margin: 0 auto;
}

input {
  margin: 5px;
}

table {
  width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.error {
  display: none;
  margin: auto;
  text-align: center;
}

.align-right {
  text-align: right;
}

.file_upload{
  margin-left: 7px;
  padding: 0;
  border: none;
  position: relative;
  overflow: hidden;
}

.file_upload > button {
  float: left;
}

.file_upload > div {
  margin-left: 100px;
  height: 100%;
  padding: 0;
  border: 1px solid grey;
}

.file_upload input[type=file]{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(10);
  opacity: 0;
  cursor: pointer
}

#header {
  display: inline;
  vertical-align: top;
}

#container {
  display: flex;
  border: none;
  padding: 0;
  background-image: url("background.jpg");
}

#central-div {
  flex-grow: 2;
  background-color: #eeeeff;
}

#first-div,
#statistics-div {
  flex-grow: 1;
}

#request-form,
#upload-form {
  border: 1px solid grey;
  margin: 3px;
  padding: 10px;
}

#request-form label{
    width: auto;
    display: inline;
    text-align: left;
}

#remote {
  display: block;
  margin: 0;
  width: 100%;
}

#login-form {
  margin: 5px;
  padding: 10px;
  border: 1px solid grey;
}
